.position{
  position: relative;
  border: 4px solid blue;
  width: 600px;
  height: 800px;
  margin: 50px auto;
}
.position div{
  width: 200px;
  height: 120px;
  border: 1px solid #000;
  box-sizing: border-box;
}
.box1{
  /* top, bottom, left, right */
  position: absolute;
  top:0px;
  left:0px;
  z-index: 20;
  background-color: aqua;
}
.box2{
  /* 전체적으로 고정으로 따라다님 
    기본갑 : scroll
  */
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: tomato;
}
.box3{
  /* 부모 높이값 만큼 따라다님 */
  position: sticky;
  top: 20px;
  left: 0;
  background-color:blueviolet;
  width: 200px;
  height: 120px;
  border: 1px solid #000;
}
/* .scroll{
  height: 1600px!important;
} */



.back-box{
  height: 600px;
  background-color: #8ccc;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.back-img{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 400px;
  background-image: url(./images/cat3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}