/* 초기 셋팅 --------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li{
    list-style: none;
  }
  
  a{
    color: #fff;
    text-decoration: none;
  }
  
  button{outline: none;border: 0;cursor: pointer;background: transparent;}
  
  .gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
  }

  body{
    font-family: "Gowun Batang", serif;
  }

/* 모바일 버전에서만 보이는 클래스 */
  .sm-only{
    display: none;
  }


 
/* ---------------------------------------------------------- */


  .global-header{
    background-color:skyblue;
    display: flex;
    /*수평 양끝 정렬*/
    justify-content: space-between;
    /*수직 가운데 정렬*/
    align-items: center; 
    padding: 12px 20px;
  }

  .logo img{
    width: 60px;
  }
  

  .gnb-list{
    /*수평정렬*/
    display: flex;
    /* 
    width 값을 주고 justify-content:space-betwwn 을 넣으면
    크기에 맞게 양끝 기준으로 골고루 너비가 배분된다.
    width: 300px;
    justify-content: space-between; */
  }

  .gnb-list li{margin-right: 20px;}
  .gnb-list li:last-child{margin-right: 0;}
  .gnb-list li a{
    color: #fff;
    font-weight: bold;
    /* font-weight:700; */
    transition: color 300ms;
  }
  .gnb-list li a:hover{
    color: blue;
    text-decoration: underline;
  }
  .back-img{
    height: 600px;
    background-image: url(./assets/images/스누피배경.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }
  .back-txt{
    text-align: center;
    color: #fff;
    /* 수평 정렬 */
    display: flex; 
    /* 수직으로 정렬 변경 */
    flex-direction: column;
    /* 수직 가운데 정렬(원래는 수평) */
    justify-content: center;
    /* 수평 가운데 정렬(원래는 수직) */
    align-items: center;
    height: 600px;
    color: #fff;
  }
  
  .back-txt h2{
    font-size: 50px;
  }

  .back-txt p,
  .back-txt button{
    margin-top: 20px;
    
  }
  .back-txt p{
    font-size: 22px;
    width: 800px;
    word-break: keep-all;
    margin-top: 20px;
    text-align: center;
  }

  
  .popup-open-btn{
    padding:8px 12px;
    border-radius: 8px;
    background-color: #fff;
  }
  
  
  .second-box p{
    margin-top: 20px;
  }
  
  .card-list{
   margin-top: 50px; 
   display: flex;
   justify-content: center;
   width: 90%;
   margin: 40px auto;
   /* 부모 사이즈 지정 */
  }
  
  .card-list div{
    width: 30%;
    color: #fff;
    background: rgb(120, 190, 190);
    text-align: center;
    padding: 20px 12px;
    border-radius: 12px;
    margin: 0 10px;
  }
  .card-list p{
    margin-top: 12px;
  }


  .fix-box{
    margin-top: 50px;
    height: 600px;
    background-color: #8ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fix-box div{
    background-color: #fff;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 500px;
    background-attachment: fixed;
  }
  
  .fix-img1{
    margin-right: 20px;
    background-image: url(./assets/images/pngegg.png);
    background-position: bottom 26% left 32%;
  }
  .fix-img2{
    background-image: url(./assets/images/스누피2.png);
    background-position: bottom 26% right 32%;
  }


  
  .global-footer{
    color: #333;
    background-color: khaki;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  .sns-link{
    display: flex;
  }
  .sns-link li a{
    color: #333;
    padding: 12px;
  }
  .sns-link i{font-size: 24px;transition: color 300ms;}
  .sns-link i:hover{color:blueviolet;}

  
  .top-btn{position: fixed;bottom: 50px;right: 50px;}
  .top-btn i{font-size: 50px;color: coral;background: #fff;border-radius: 50%;}

  .quick-menu{
    position: fixed;
    right: 50px;
    top:200px;
  }

  .quick-menu ul{
    width: 150px;
    padding: 20px;
    text-align: center;
    background: #fff;border-radius: 8px;
  }

  .quick-menu ul li a{color: #333;}

  /* 팝업 */
  .popup{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
  }
  .popup-header{
    display: flex;
    justify-content: space-between;
  }
  .popup h2{font-size: 30px;}
  .popup img{
    width: 100%;
  }
  .popup-close-btn{font-size: 30px;}
  
  .popup{
    display: none;
  }
  /* is-active 가상 클래스 */
  .popup.is-active {
    display: block;
  }

  /* sidebar 수정 */
  .sidebar{
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 20px;
  }
  .sidebar li{
    text-align: center;
  }
  .sidebar ul li a{
    color: #000;
    font-size: 18px;
    padding: 8px 0;
    display: inline-block;
  }
 .sidebar-close-btn{
    text-align: right;
    font-size: 22px;
  }






  
  /* 최대 1200px / 1200px 이하부터 적용할 스타일*/
  @media screen and (max-width:1200px) {
  
    .card-list{
      width: 70%;
      display: flex;
      flex-direction: column;
      margin: 50px auto;
    }
    
    .card-list div{
      width: 100%;
      margin: 15px 0px;
    }

    .fix-box div{
      background-color:transparent;
    }
    
    .fix-img1{
      margin-right: 0px;
      background-position: bottom 30% center;
    }
    .fix-img2{
      display: none;
    }

  }
  
  
  @media screen and (max-width:768px) {
    /* 모바일 버전에서만 보이는 */
    .sm-only{
      display:block;
    }
    /* 모바일 버전에서만 안보이게 처리 */    
    .sm-hidden{
      display:none;
    }
    /* 햄버거 메뉴 수정 */
    .sidebar-open-btn{
      color: #fff;
      font-size: 24px;
      cursor: pointer;
    }
    .card-list{
      width: 90%;
    }
    .fix-box div{
      background-size: 300px;
      background-position: bottom 20% center;
    }
    .global-footer{
      flex-direction: column;
      margin-top: 20px;
    }
    .sns-link{padding: 8px;}
    .sns-link i{font-size: 20px;}
  
    .quick-menu{display: none;}

  }
  
  